/* div {
  background-color: rgb(227, 171, 227);
  color: rgb(53, 53, 219);
} */
#first {
  background-color: white;
}
#firstP {
  font-size: medium;
  font-family: Verdana, "Gill Sans";
  color: green;
  line-height: 200%;
  border: 10px solid red;
  border-radius: 8px;
  background-color: skyblue;
}
#fix {
  color: black;
  position: fixed;
}

.game {
  color: white;
  background-color: steelblue;
}
.one {
  color: red;
  background-color: slategray;
}

span#spn {
  text-transform: uppercase;
  color: burlywood;
  background-color: white;
}
#skill {
  background-color: gainsboro;
  overflow: scroll;
}

#skill ol li {
  color: orange;
  background-color: white;
}
#skill ul li {
  color: chartreuse;
  background-color: black;
}
#p {
  color: aqua;
  background-color: black;
  position: relative;
  left: 40px;
  top: 10pxs;
}
#p1 {
  background-color: rgb(174, 115, 94);
}

#ol {
  background-color: gray;
  width: 100px;
  padding: 10px;
  margin: 50px auto;
}
