#ol1 li:hover {
  background-color: gray;
  color: black;
  width: 100px;
}

#ul1 li:active {
  background-color: blue;
  color: white;
}
#ul1 {
  list-style: none;
}
#ol1 {
  list-style-type: lower-greek;
}

#p1 {
  word-spacing: -5px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

#p1:first-line {
  text-transform: uppercase;
  color: burlywood;
}
#p1::first-letter {
  color: blue;
  font-size: 50px;
}
/* #p2:hover {
  background-color: burlywood;
  cursor: pointer;
} */

#p2 {
  width: 400px;
  /* border: solid black; */
  padding: 10px;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0);
}

#p3 {
  text-align: justify;
  text-decoration: underline;
}
/* body {
  background: rgb(173, 208, 220);
  background: linear-gradient(
    193deg,
    rgba(173, 208, 220, 1) 41%,
    rgba(232, 238, 155, 1) 100%
  );
} */

body {
  background: rgb(173, 208, 220);
  background: radial-gradient(
    rgba(173, 208, 220, 1) 41%,
    rgba(232, 238, 155, 1) 100%
  );
}
