h1 {
  color: blueviolet;
}

#Biryaniheader {
  color: brown;
  border: solid black;
  border-width: 10px;
  text-align: center;
}

#TandooriHeader {
  color: rgb(18, 143, 37);
}

#MyName {
  border: dashed black;
  border-width: thin;

  color: rgb(237, 55, 46);
}

#UL {
  color: gray;
}

#div1 {
  color: rgb(67, 249, 255);
  border: 2px solid rgb(219, 228, 54);
  background-color: black;
}

#div2 {
  color: chocolate;
  border: solid red;
  background-color: rgb(33, 93, 93);
}

#parent {
  border: solid red;
  border-width: thick;
  float: left;
}
#child {
  color: orange;
  border: solid rgb(34, 136, 147);
  border-width: thick;
  float: right;
}
#t1 {
  color: seagreen;
  background-color: rgb(227, 211, 190);
}
#t2 {
  color: purple;
}

#p1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: rgb(140, 219, 23);
  text-transform: uppercase;
  text-decoration: underline dashed crimson;
  text-decoration-thickness: 5px;
}
