#football {
  border: 1px solid black;
  width: 30%;
}

#basketball {
  border: 1px solid black;
  width: 30%;
}
#cricket {
  border: 1px solid black;
  width: 30%;
}
#videogame {
  border: 1px solid black;
  width: 30%;
}
